@import "tailwindcss";

@theme {
    --color-primary: #4F46E5;
    --color-secondary: #06B6D4;
    --color-dark: #1F2937;
    --font-sans: 'Inter', sans-serif;
}

body {
    @apply bg-gray-50 text-gray-900 overflow-x-hidden;
    cursor: none;
    /* Hide default cursor for custom one */
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    @apply bg-gray-100;
}

::-webkit-scrollbar-thumb {
    @apply bg-indigo-500 rounded;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-indigo-600;
}